build/main.o
.tools/
dist/
*.spec
__pycache__/
tools/__pycache__/
rom/
build/
build/raycast.o
build/rom.elf
build/.generated
build/rom/neogeo.zip
build/rom/puzzledp.zip
tools/pack_e9k.py
setup/README.md
setup/ngdevkit-assets/build-srom.py
setup/ngdevkit-assets/Makefile
setup/ngdevkit-assets/smalltext-shadow.gif
setup/ngdevkit-assets/smalltext.gif
setup/ngdevkit-assets/srom-shadow.bmp
setup/ngdevkit-assets/srom.bmp
setup/ngdevkit-assets/talltext-shadow.gif
setup/ngdevkit-assets/talltext.gif
setup/ngdevkit-assets/tmp.c1
setup/ngdevkit-assets/tmp.c2
setup/ngdevkit-assets/gfx/LICENSES.md
setup/ngdevkit-assets/gfx/logo.gif
setup/ngdevkit-assets/gfx/unscii8.png
setup/ngdevkit-assets/gfx/unscii16.png
setup/ngdevkit-assets/rom/c1.bin
setup/ngdevkit-assets/rom/c2.bin
setup/ngdevkit-assets/rom/s1-shadow.bin
setup/ngdevkit-assets/rom/s1.bin
assets/README.md
build/assets/base-crom-logo.c1
build/assets/base-crom-logo.c2
build/assets/base-srom-text-shadow.fix
build/assets/base-srom-text.fix
build/rom/202-c1.bin
build/rom/202-c1.c1
build/rom/202-c2.bin
build/rom/202-c2.c2
build/rom/202-m1.bin
build/rom/202-m1.m1
build/rom/202-p1.bin
build/rom/202-p1.p1
build/rom/202-s1.bin
build/rom/202-s1.s1
build/rom/202-v1.bin
build/rom/202-v1.v1
e9k/neoray/neoray.c1
e9k/neoray/neoray.c2
e9k/neoray/neoray.m1
e9k/neoray/neoray.p1
e9k/neoray/neoray.s1
e9k/neoray/neoray.v1
history/history.db
rom/c1.bin
rom/c2.bin
rom/m1.bin
rom/s1.bin
rom/v1.bin
